.cooking {
    align-items: center;

    margin: 0 1rem;
}

.cooking__title {
    text-align: center;
}

.cooking__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    list-style: none;
}

.cooking__item {
    grid-column: span 6;

    text-align: center;

}
.cooking__pic {
    width: 200px;
    height: 200px;
}

@media screen and (min-width: 44rem) {
    .cooking__pic {
        width: 250px;
        height: 250px;
    }
    .cooking__item {
        grid-column: span 4;
    }
}