.panel{
    border: 1px solid black; 
    background-color: var(--card-bg-color);
}

.panel__right {
    border-bottom: 0px;
}

.panel__text {
    margin: 1rem;
}

.panel__pic {
    aspect-ratio: 1/1;
    width: 125px;
    height: 125px;;
}

.panel__pic.right {
    float: right;
}

.panel__pic.left {
    float: left;
}

@media screen and (min-width: 44rem) {
    .panel{
        display: flex;
        padding: 0.5rem;
        margin: 1rem;
        margin-bottom: 0rem;
    }
    .panel__right {
        flex-direction: row-reverse;
        border-bottom: 1px solid black;
    }
    .panel__pic {
        width: 200px;
        height: 200px;;
    }
}